<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>QLU觅幂</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="shortcut icon" href="https://q1.qlogo.cn/g?b=qq&amp;nk=1430147707&amp;s=100" type="image/x-icon">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>

	<body>
		<form action="/run_program" method="POST" onsubmit="window.location.href='http://www.example.com'">
			<div class="container content-box">
				<section class="sousuo">
					<div class="search">
						<div class="search-box">
							<img class="search-icon" src="https://www.qlu.edu.cn/_upload/tpl/09/ea/2538/template2538/favicon.ico">
							<input type="text" id="txt" class="search-input" autofocus="autofocus" name="input_content">
							<button class="search-btn icon" type="submit">开始打卡</button>
						</div>
					</div>
				</section>
			</div>
		</form>

		<div id="wrapper">
			<h1>QLU Sport</h1>
			<h2>Good, better, best. Never let it rest. </h2>
			<h2>在上方输入你的token！</h2>
			<p>
				<a href="http://nixiak.xyz" target="_blank">Blog</a>
			</p>
			<p>
				<a href="https://github.com/NixiakAI" target="_blank" rel="external nofollow noopener noreferrer">Github</a>
			</p>
			<p>
				<a href="https://www.bilibili.com/video/BV14z4y1u7CZ/" target="_blank">B站获取使用教程</a>
			</p>
		</div>
		<canvas width="1920" height="949"></canvas>
		<script src="static/main.js"></script>

	</body>

</html>
