<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>QLU觅幂</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="https://q1.qlogo.cn/g?b=qq&amp;nk=1430147707&amp;s=100" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<div id="wrapper">
			<h1>QLU Sport</h1>
			<h2>Good, better, best. Never let it rest. </h2>
			<h2> {{code}} </h2>
			<p>
				<a href="http://nixiak.xyz" target="_blank">Blog</a>
			</p>
			<p>
				<a href="https://github.com/NixiakAI" target="_blank" rel="external nofollow noopener noreferrer">Github</a>
			</p>
			<p>
				<a href="https://www.bilibili.com/video/BV14z4y1u7CZ/" target="_blank">B站获取使用教程</a>
			</p>
		</div>
		<canvas width="1920" height="949"></canvas>
		<script src="static/main.js"></script>

	</body>

</html>